[submodule "apps/prototype/agent-hermes/vendor/hermes-core"]
	path = apps/prototype/agent-hermes/vendor/hermes-core
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "apps/prototype/agent-hermes/vendor/hindsight"]
	path = apps/prototype/agent-hermes/vendor/hindsight
	url = https://github.com/vectorize-io/hindsight.git
